<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.
Use the version as per your python version.

In [19]:
!pip install yfinance
!pip install bs4
!pip install nbformat

Requirement already satisfied: yfinance in /opt/conda/lib/python3.11/site-packages (0.2.50)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.2.0)
Requirement already satisfied: requests>=2.31 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.2.1)
Requirement already satisfied: pytz>=2022.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/conda/lib/python3.11/site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.9.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: bs4 in /opt/conda/lib/python3.11/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.11/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: nbformat in /opt/conda/lib/python3.11/site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in /opt/conda/lib/python3.11/site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /opt/conda/lib/python3.11/site-packages (from nbformat) (4.22.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /opt/conda/lib/python3.11/site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in /opt/conda/lib/python3.11/site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in /opt/conda/lib/python3.11/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.1)

In [20]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [21]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [22]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [23]:
tesla=yf.Ticker('TSLA')

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [25]:
tesla_data=tesla.history(period='max')

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [26]:
tesla_data.reset_index(inplace=True)
tesla_data.head

<bound method NDFrame.head of                           Date        Open        High         Low  \
0    2010-06-29 00:00:00-04:00    1.266667    1.666667    1.169333
1    2010-06-30 00:00:00-04:00    1.719333    2.028000    1.553333
2    2010-07-01 00:00:00-04:00    1.666667    1.728000    1.351333
3    2010-07-02 00:00:00-04:00    1.533333    1.540000    1.247333
4    2010-07-06 00:00:00-04:00    1.333333    1.333333    1.055333
...                        ...         ...         ...         ...
3637 2024-12-10 00:00:00-05:00  392.679993  409.730011  390.850006
3638 2024-12-11 00:00:00-05:00  409.700012  424.880005  402.380005
3639 2024-12-12 00:00:00-05:00  424.839996  429.299988  415.000000
3640 2024-12-13 00:00:00-05:00  420.000000  436.299988  415.709991
3641 2024-12-16 00:00:00-05:00  441.089996  463.190002  436.149994

           Close     Volume  Dividends  Stock Splits
0       1.592667  281494500        0.0           0.0
1       1.588667  257806500        0.0           0.0
2       1.464000  123282000        0.0           0.0
3       1.280000   77097000        0.0           0.0
4       1.074000  103003500        0.0           0.0
...          ...        ...        ...           ...
3637  400.989990   97563600        0.0           0.0
3638  424.769989  104287600        0.0           0.0
3639  418.100006   87752200        0.0           0.0
3640  436.230011   89000200        0.0           0.0
3641  463.019989  114083800        0.0           0.0

[3642 rows x 8 columns]>

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [27]:
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data=requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [28]:
soup=BeautifulSoup(html_data,"html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Create an Empty DataFrame
2. Find the Relevant Table
3. Check for the Tesla Quarterly Revenue Table
4. Iterate Through Rows in the Table Body
5. Extract Data from Columns
6. Append Data to the DataFrame

```
</details>

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [29]:
read_html_pandas_data=pd.read_html(url)
tesla_revenue=read_html_pandas_data[1]
tesla_revenue.head

<bound method NDFrame.head of    Tesla Quarterly Revenue (Millions of US $)  \
0                                  2022-09-30
1                                  2022-06-30
2                                  2022-03-31
3                                  2021-12-31
4                                  2021-09-30
5                                  2021-06-30
6                                  2021-03-31
7                                  2020-12-31
8                                  2020-09-30
9                                  2020-06-30
10                                 2020-03-31
11                                 2019-12-31
12                                 2019-09-30
13                                 2019-06-30
14                                 2019-03-31
15                                 2018-12-31
16                                 2018-09-30
17                                 2018-06-30
18                                 2018-03-31
19                                 2017-12-31
20                                 2017-09-30
21                                 2017-06-30
22                                 2017-03-31
23                                 2016-12-31
24                                 2016-09-30
25                                 2016-06-30
26                                 2016-03-31
27                                 2015-12-31
28                                 2015-09-30
29                                 2015-06-30
30                                 2015-03-31
31                                 2014-12-31
32                                 2014-09-30
33                                 2014-06-30
34                                 2014-03-31
35                                 2013-12-31
36                                 2013-09-30
37                                 2013-06-30
38                                 2013-03-31
39                                 2012-12-31
40                                 2012-09-30
41                                 2012-06-30
42                                 2012-03-31
43                                 2011-12-31
44                                 2011-09-30
45                                 2011-06-30
46                                 2011-03-31
47                                 2010-12-31
48                                 2010-09-30
49                                 2010-06-30
50                                 2010-03-31
51                                 2009-12-31
52                                 2009-09-30
53                                 2009-06-30

   Tesla Quarterly Revenue (Millions of US $).1
0                                       $21,454
1                                       $16,934
2                                       $18,756
3                                       $17,719
4                                       $13,757
5                                       $11,958
6                                       $10,389
7                                       $10,744
8                                        $8,771
9                                        $6,036
10                                       $5,985
11                                       $7,384
12                                       $6,303
13                                       $6,350
14                                       $4,541
15                                       $7,226
16                                       $6,824
17                                       $4,002
18                                       $3,409
19                                       $3,288
20                                       $2,985
21                                       $2,790
22                                       $2,696
23                                       $2,285
24                                       $2,298
25                                       $1,270
26                                       $1,147
27                                       $1,214
28                                         $937
29                                         $955
30                                         $940
31                                         $957
32                                         $852
33                                         $769
34                                         $621
35                                         $615
36                                         $431
37                                         $405
38                                         $562
39                                         $306
40                                          $50
41                                          $27
42                                          $30
43                                          $39
44                                          $58
45                                          $58
46                                          $49
47                                          $36
48                                          $31
49                                          $28
50                                          $21
51                                          NaN
52                                          $46
53                                          $27  >

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [13]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

KeyError: 'Revenue'

Execute the following lines to remove an null or empty strings in the Revenue column.

In [14]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

KeyError: 'Revenue'

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [30]:
read_html_pandas_data=pd.read_html(url)
tesla_revenue=read_html_pandas_data[1]
tesla_revenue.tail

<bound method NDFrame.tail of    Tesla Quarterly Revenue (Millions of US $)  \
0                                  2022-09-30
1                                  2022-06-30
2                                  2022-03-31
3                                  2021-12-31
4                                  2021-09-30
5                                  2021-06-30
6                                  2021-03-31
7                                  2020-12-31
8                                  2020-09-30
9                                  2020-06-30
10                                 2020-03-31
11                                 2019-12-31
12                                 2019-09-30
13                                 2019-06-30
14                                 2019-03-31
15                                 2018-12-31
16                                 2018-09-30
17                                 2018-06-30
18                                 2018-03-31
19                                 2017-12-31
20                                 2017-09-30
21                                 2017-06-30
22                                 2017-03-31
23                                 2016-12-31
24                                 2016-09-30
25                                 2016-06-30
26                                 2016-03-31
27                                 2015-12-31
28                                 2015-09-30
29                                 2015-06-30
30                                 2015-03-31
31                                 2014-12-31
32                                 2014-09-30
33                                 2014-06-30
34                                 2014-03-31
35                                 2013-12-31
36                                 2013-09-30
37                                 2013-06-30
38                                 2013-03-31
39                                 2012-12-31
40                                 2012-09-30
41                                 2012-06-30
42                                 2012-03-31
43                                 2011-12-31
44                                 2011-09-30
45                                 2011-06-30
46                                 2011-03-31
47                                 2010-12-31
48                                 2010-09-30
49                                 2010-06-30
50                                 2010-03-31
51                                 2009-12-31
52                                 2009-09-30
53                                 2009-06-30

   Tesla Quarterly Revenue (Millions of US $).1
0                                       $21,454
1                                       $16,934
2                                       $18,756
3                                       $17,719
4                                       $13,757
5                                       $11,958
6                                       $10,389
7                                       $10,744
8                                        $8,771
9                                        $6,036
10                                       $5,985
11                                       $7,384
12                                       $6,303
13                                       $6,350
14                                       $4,541
15                                       $7,226
16                                       $6,824
17                                       $4,002
18                                       $3,409
19                                       $3,288
20                                       $2,985
21                                       $2,790
22                                       $2,696
23                                       $2,285
24                                       $2,298
25                                       $1,270
26                                       $1,147
27                                       $1,214
28                                         $937
29                                         $955
30                                         $940
31                                         $957
32                                         $852
33                                         $769
34                                         $621
35                                         $615
36                                         $431
37                                         $405
38                                         $562
39                                         $306
40                                          $50
41                                          $27
42                                          $30
43                                          $39
44                                          $58
45                                          $58
46                                          $49
47                                          $36
48                                          $31
49                                          $28
50                                          $21
51                                          NaN
52                                          $46
53                                          $27  >

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [32]:
gamestop=yf.Ticker('GME')

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [33]:
gm_data=gamestop.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [34]:
gm_data.reset_index(inplace=True)
gm_data.head

<bound method NDFrame.head of                           Date       Open       High        Low      Close  \
0    2002-02-13 00:00:00-05:00   1.620128   1.693350   1.603296   1.691667
1    2002-02-14 00:00:00-05:00   1.712707   1.716074   1.670626   1.683250
2    2002-02-15 00:00:00-05:00   1.683250   1.687458   1.658001   1.674833
3    2002-02-19 00:00:00-05:00   1.666418   1.666418   1.578047   1.607504
4    2002-02-20 00:00:00-05:00   1.615920   1.662210   1.603296   1.662210
...                        ...        ...        ...        ...        ...
5746 2024-12-11 00:00:00-05:00  27.750000  30.160000  27.510000  28.969999
5747 2024-12-12 00:00:00-05:00  28.900000  29.660000  28.580000  28.750000
5748 2024-12-13 00:00:00-05:00  28.700001  28.860001  27.920000  27.990000
5749 2024-12-16 00:00:00-05:00  27.700001  29.590000  27.270000  29.440001
5750 2024-12-17 00:00:00-05:00  29.635000  31.879400  29.635000  30.969999

        Volume  Dividends  Stock Splits
0     76216000        0.0           0.0
1     11021600        0.0           0.0
2      8389600        0.0           0.0
3      7410400        0.0           0.0
4      6892800        0.0           0.0
...        ...        ...           ...
5746  20485000        0.0           0.0
5747   8855700        0.0           0.0
5748   6581600        0.0           0.0
5749   8700000        0.0           0.0
5750  17063470        0.0           0.0

[5751 rows x 8 columns]>

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [35]:
url2=" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data_2=requests.get(url2).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [37]:
soup=BeautifulSoup(html_data_2,"html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [40]:
read_html_pandas_data2=pd.read_html(url2)
gm_revenue=read_html_pandas_data2[1]
gm_revenue.head()

,GameStop Quarterly Revenue (Millions of US $),GameStop Quarterly Revenue (Millions of US $).1
0,2020-04-30,"$1,021"
1,2020-01-31,"$2,194"
2,2019-10-31,"$1,439"
3,2019-07-31,"$1,286"
4,2019-04-30,"$1,548"

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [41]:
gm_revenue.tail()

,GameStop Quarterly Revenue (Millions of US $),GameStop Quarterly Revenue (Millions of US $).1
57,2006-01-31,"$1,667"
58,2005-10-31,$534
59,2005-07-31,$416
60,2005-04-30,$475
61,2005-01-31,$709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

```
    
</details>

In [43]:
make_graph(tesla_data,tesla_revenue,"Tesla")

AttributeError: 'DataFrame' object has no attribute 'Date'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

In [44]:
make_graph(gm_data,gm_revenue,"Gamestop")

AttributeError: 'DataFrame' object has no attribute 'Date'

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>